OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.2
OPENAI_API_BASE_URL=https://api.openai.com/v1

ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-opus-4-1-20250805
ANTHROPIC_API_BASE_URL=https://api.anthropic.com/v1

XAI_API_KEY=
XAI_MODEL=grok-4-1-fast-reasoning
XAI_API_BASE_URL=https://api.x.ai/v1
